<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<div>
  <ul> <%= @question %> </ul>
  <ul> -You </ul>
</div>
<div>
  <ul> <%= @answer %> </ul>
  <ul> -Your coach </ul>
</div>
<%= link_to "Another question?", ask_path %>
